#yourDogHeading {
    margin-bottom: 1rem;
}

#edit {
    margin-top: 1rem;
}

.deleteButtontd {
    padding: 15px 0px;
}

.petName {
    font-size: 2rem;
}

.fed {
    float: right;
}

.hide {
    display: none;
}

.showButton {
    display: table-cell;
}